
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1503726375375'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1503726375375#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1503726375375') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1503726375375') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1503726375375#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-menu:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-email:before { content: "\e69f"; }

.icon-lab:before { content: "\e8d2"; }

.icon-bubble:before { content: "\e8d6"; }

.icon-bulb:before { content: "\e8d7"; }

.icon-clip:before { content: "\e8da"; }

.icon-data:before { content: "\e8de"; }

.icon-fire:before { content: "\e8e2"; }

.icon-pen:before { content: "\e8f5"; }

.icon-search:before { content: "\e8f8"; }

.icon-settings:before { content: "\e8f9"; }

.icon-world:before { content: "\e8fc"; }

.icon-count:before { content: "\e902"; }

.icon-investment:before { content: "\e906"; }

.icon-discount:before { content: "\e6c5"; }

.icon-link:before { content: "\e6f7"; }

.icon-twitter:before { content: "\ec9c"; }

.icon-code:before { content: "\e618"; }

.icon-wet:before { content: "\e62f"; }

.icon-temperature:before { content: "\e630"; }

.icon-night-mode:before { content: "\e633"; }

.icon-lightning:before { content: "\e634"; }

.icon-experiment:before { content: "\e654"; }

.icon-dangerous:before { content: "\e655"; }

.icon-coffee:before { content: "\e656"; }

.icon-statistic:before { content: "\e669"; }

.icon-location:before { content: "\e652"; }

.icon-command:before { content: "\e653"; }

.icon-google-plus:before { content: "\e721"; }

.icon-rss:before { content: "\e7ea"; }

.icon-facebook:before { content: "\e66e"; }

.icon-arrow-left:before { content: "\e693"; }

.icon-arrow-right:before { content: "\e694"; }

